@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background: #202020;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.t {
    color: #f1f1f1;
    font-size: 12vw;
    align-self: center;
    letter-spacing: 3px;
    font-weight: 900;
    font-family: "Rubik Mono One", monospace;
}
